.product-item {
  .item {
    .item-img {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
    }
  }
}
.product-item {
  a {
    color: var(--black-color);
  }
  &:hover {
    transform: translateY(-2px);
  }
}
