:root {
  --gray-color: #c9c2c2;
  --white-color: #fff;
  --black-color: #000;
}
*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
}
p {
  font-size: 1rem;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
